/**
 * =============================================================================
 *  Theme - Default
 * =============================================================================
 *
 * @author dondevi
 * @create 2107-08-25
 */

@import "scrollbar.css";
@import "loading.css";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  font: 14px/1.5 "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
}
th {
  text-align: center;
}
th, td {
  padding: 5px 8px;
  border: 1px solid #ddd;
  vertical-align: initial;
}

.pull-left { float: left; }
.pull-right { float: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.unselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flex { display: flex; }
.flex-item { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-column { flex-direction: column; }



.page,
.content {
  width: 100%;
  height: 100%;
}
.content {
  overflow: auto;
}
