/**
 * =============================================================================
 *  Global CSS
 * =============================================================================
 *
 * @author dondevi
 * @create 2017-08-25
 */

@import "scrollbar.css";
@import "loading.css";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  font: 14px/1.5 "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
}
th {
  text-align: center;
}
th, td {
  padding: 5px 8px;
  border: 1px solid #ddd;
  vertical-align: initial;
}

// quasar

.q-notification {
  max-width: 42%;
}
.q-alert-side,
.q-alert-content {
  white-space: pre-wrap;
}

.q-field {
  margin: 16px 0;
}

.material-icons {
  width: 1em;
  overflow: hidden;
}
